# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
./achievio_api/go.work
./achievio_api/go.work.sum

# env file
.env

# Logs
./achievio_client/logs
./achievio_client/*.log
./achievio_client/npm-debug.log*
./achievio_client/yarn-debug.log*
./achievio_client/yarn-error.log*
./achievio_client/pnpm-debug.log*
./achievio_client/lerna-debug.log*
./achievio_client/
./achievio_client/node_modules
./achievio_client/dist
./achievio_client/dist-ssr
./achievio_client/*.local
./achievio_client/
./achievio_client/# Editor directories and files
./achievio_client/.vscode/*
./achievio_client/!.vscode/extensions.json
./achievio_client/.idea
./achievio_client/.DS_Store
./achievio_client/*.suo
./achievio_client/*.ntvs*
./achievio_client/*.njsproj
./achievio_client/*.sln
./achievio_client/*.sw?

